# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
*.env

# Flask stuff
instance/
*.sqlite3
*.db

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# IDE / editor files
*.swp
*.swo
.idea/

# Python packaging
*.egg-info/
dist/
build/
